<!DOCTYPE html>
<html ng-app="notesApp">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <!--<script src="js/controllers.js"></script>-->
    <title>Notes App</title>
    <style>
        .username.ng-valid {
        background-color: green;
        }
        .username.ng-dirty.ng-invalid-required {
        background-color: red;
        }
        .username.ng-dirty.ng-invalid-minlength {
        background-color: lightpink;
        }
    </style>

</head>
<body ng-controller="MainCtrl as mainCtrl">
    <div><!-- ng-controller="answerController"-->
        <h2>Расчет по формуле Харриса-Бенедикта</h2>
        <p>Ваш пол:</p>
        <form name="answerForm">
            <div ng-init="user = {gender: 'female'}">
                <input type="radio"
                        name="gender"
                        ng-model="user.gender"
                        value="male">M
                <input type="radio"
                        name="gender"
                        ng-model="user.gender"
                        value="female">Ж
            </div>

            <input type="text" id="weight" placeholder="Введите свой вес" ng-model="user.weight" required>
            <input type="text" id="height" placeholder="Введите свой рост(см)" ng-model="user.height" required>
            <input type="text" id="age" placeholder="Введите свой возраст" ng-model="user.age" required>

            <button type="submit" ng-click="mainCtrl.save(user, answerForm)">Сохранить</button>
        </form>
        <!--<p>Total: {{ getTotal() }}</p>-->
        <!-- {{user.gender}} -->
         <!--{{weight}}-->
         <!--{{gender}}-->
    </div>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
<!-- https://ru-healthlife.livejournal.com/2643907.html -->
<!-- http://blog.fizcult.by/blog/chto-est-do-i-posle-silovoy-trenirovki -->
</body>
</html>
